/* *** Helpers *** */

// set text color so it can be seen on dark background
html {
  color:ghostwhite;
}

body {
	display: grid;
	grid-gap: 1em;
	margin: 1em;
}
//set outline on card divs
/* div {
  outline: 3px dotted orangered;
} */

/* *** Variables *** */

/* ** Colors ** */
/* Accent */
$accent-color-blue: hsl(246, 80%, 60%);
$accent-color-orange: hsl(15, 100%, 70%);
$accent-color-soft-blue: hsl(195, 74%, 62%);
$accent-color-red: hsl(348, 100%, 68%);
$accent-color-green: hsl(145, 58%, 55%);
$accent-color-purple: hsl(264, 64%, 52%);
$accent-color-yellow: hsl(43, 84%, 65%);

/* Primary */
$base-blue: hsl(225,41.9%,83.1%);

$dark-blue: hsl(235, 46%, 20%);

// assign each color to a reusable class
.dark-blue {
  background-color: $dark-blue;
}

.accent-blue {
  background-color: $accent-color-blue;
} 

.accent-orange {
  background-color: $accent-color-orange;
}

.accent-soft-blue {
  background-color: $accent-color-soft-blue;
}

.accent-red {
  background-color: $accent-color-red;
}

.accent-green {
  background-color: $accent-color-green;
}

.accent-purple {
  background-color: $accent-color-purple;
}

.accent-yellow {
  background-color: $accent-color-yellow;
}

/* ** Cards ** */
$border-radius: 10%;

/* *** Styling *** */

/* ** Base ** */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  background-repeat: no-repeat; /* 2 */
}

body {
  background-color: $base-blue;
}

h1,
h2,
p {
  margin: 0;
}

/* ** Card ** */
.rounded-corners {
  border-radius: $border-radius;
}

.report-header {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 1fr 1fr;
  .avatar {
    max-width: 100%;
    grid-column: 1;
    grid-row: 1 / 3;
    border: 3px solid ghostwhite;
    border-radius: 100%;
  }
  p, h1 {
    grid-column: 2;
  }
  p {
    grid-row: 1;
  }
  h1 {
    grid-row: 2;
  }
}

/* Activity Card */
.card {
  position: relative;
  min-width: 100%;
  // min-height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: auto;
  border-radius: $border-radius;
}

.icon {
  grid-row: 1;
  grid-column: 2 / 3;
  position: relative;
  z-index: 2;
  justify-self: flex-end;
}

.card-base {
  background-color: $dark-blue;
  border-radius: $border-radius;
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  position: relative;
  z-index: 3;
  max-height: 80%;
  align-self: flex-end;
  //change order of layout in flex container
  header { 
    padding: 1em 1em 0;
    h2 {
      order: 1;
    }
    img {
      order: 2;
      align-self: center;
    }
  }
}

header,
.card-body-txt {
  display: flex;
  justify-content: space-between; 
} 

.card-body-txt {
  padding: 0 1em 1em;
}





  


